@using (Html.BeginForm("RealizarUpload", "Projeto", new { enctype = "multipart/form-data" }))
{
    <label>Logotipo</label>
    <div class="editor-field">
        <input type="file"  name="imageData" class="form-control projeto" /> <input type="submit" />
    </div> 
}