<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/signin.css" rel="stylesheet">
    <title>Login</title>
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
</html>
