@model  IList<REQCYCLER.Models.FluxoViewModel>

@using (Html.BeginForm("SalvarProjetoFinal", "Projeto"))
{
    <table class="table-responsive">
        <tr>
            <th>Nível
            </th>
            <th>Usuário
            </th>
            <th>Papel
            </th>
        </tr>

        @{ var contador = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@(contador + 1)</b> °
                </td>
                <td>
                    <div class="form-group">
                        <select id="@contador" name="UsuariosSelecionados">
                            @foreach (var tmpUsr in Model[contador].ListaUsuarios)
                            {
                                <option value="@tmpUsr.Id">@tmpUsr.Nome</option>
                            }
                        </select>
                        @*@Html.DropDownListFor(m => m.UsuarioSelecionado, Model.ListaUsuarios, "SELECIONE")*@
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @*@Html.DropDownListFor(m => m.PapelUsuarioSelecionado, Model.ListaPapeis, "SELECIONE")*@
                    </div>
                </td>
            </tr>
            @{contador++};
        }
    </table>    
    
    <button type="submit" class="btn btn-primary">Concluir</button>                   
}
